<link rel="stylesheet" href="/css/users_authentication.css">
<div class="authenticating">
<h1> Sign Up</h1>

<form action="/users/Create" method="POST">
<input type="text" name="name" placeholder="Your Name" required>
<input type="email" name="email" placeholder="Your Email" required>
<input type="password" name="password" placeholder="Your Password" required>
<input type="password" name="confirm_password" placeholder="Confirm Your Password" required>
<button type="submit">Sign Up</button>

</form>

</div>